src/main/mule/jenkin-wtz.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7dadf9a6-e54b-4143-8f0f-80463f1a2049" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a8e9c454-01ec-4fe0-9910-b21a6df34f80" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="jenkin-wtzFlow" doc:id="c361f9d4-601b-415c-a724-c7798835dbdc" >
		<http:listener doc:name="Listener" doc:id="1d01ceed-cb36-4fac-a1f2-e8d37ff01d4e" config-ref="HTTP_Listener_config" path="timezone/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="31fa9583-168d-4300-94c0-92cd3fe86c35" message="Req REC"/>
		<http:request method="GET" doc:name="Request" doc:id="cb52431b-ef21-4444-9f8c-45060dd6f508" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
